# ignore everything
*.json
*.meta
*.asset
*.inputactions
*.graph
*.csproj
*.prefs
Library/
Logs/
Temp/
*.index
*.settings
UserSettings/
ProjectSettings/
*.tif
*.prefab
*.fbx
*.FBX
*.mat
*.unity
*.anim
*.controller
*.mask
*.flare
*.cubemap
*.physicmaterial
*.guiskin
*.rendertexture
*.lighting
*.overrideController
*.spriteatlas
*.hdr
*.wav
*.mp3
*.ogg
*.aiff
*.flac
*.m4a
*.mov
*.mp4
*.avi
*.wmv
*.prefab.meta
*.fbx.meta
*.mat.meta
*.unity.meta
*.anim.meta
*.controller.meta
*.png